<!DOCTYPE html>
{% extends 'hospital/homebase.html' %}
{% load static %}
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <style media="screen">
      h3 {
        text-align: center;
      }
      h2 {
        text-align: center;
      }
      a
      {
        text-align: center;
      }


  </style>
</head>



{% block content %}
<style>







</style>

<div class="jumbotron" align="center" style="margin-bottom:0px;" >
  <h1 class="display-4" style="text-align:center;">Hello, Doctor</h1>
  <p class="lead">Welcome to sigma med.</p>
  <hr class="my-4">
  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/doctorsignup" role="button">Apply</a>
    <a class="btn btn-primary btn-lg" href="/doctorlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
