<!DOCTYPE html>
{% extends 'hospital/homebase.html' %}
{% load static %}
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
      h3 {
        text-align: center;
      }
      h2 {
        text-align: center;
      }
      a
      {
        text-align: center;
      }


  </style>
</head>
<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Patient</h1>
  <h2 class="lead">Welcome to Sigma med.</h2>
  <hr class="my-4">
  <h3>You can access various features after Login/SignUp.</h3>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Register Your Account</a>
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Login</a>
  </p>
</div>
